*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.box1{
    position: relative;
    width: 220px;
    height: 220px;
    background-color: pink;
    border: 4px solid red;
    top: 30px;
    left: 50px;
    z-index: 1;
}
.box2{
background-color: skyblue;
position: absolute;
width: 120px;
height: 120px;
top: 40px;
left: 40px;
z-index: 9999;
}
.box3{
    background-color: lightgreen;
    border: 4px solid green;
    position: absolute;
    z-index: 10;
    width: 200px;
    height: 200px;
    left: 150px;
    top: 100px;
}