* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  height: 100%;
}
header {
  background-color: #1b1c3a;
  width: 100%;
  height: 130px;
}
h1 {
  text-align: center;
  color: white;
  padding-top: 20px;
}
nav {
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 14px;
  padding: 30px 0 18px;
}
nav a {
  text-decoration: none;
  color: white;
  padding: 6px 8px;
  font-size: 15px;
}
.hero {
  text-align: center;
  justify-content: center;
  padding: 60px 20px;
  margin-top: 70px;
}
.para1 {
  margin-top: 20px;
}
.btn {
  background-color: white;
  border: 1px solid white;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}
.course {
  text-align: center;
  padding: 50px 20px;
}
.coursebox {
  width: 300px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 25px;
  display: inline-block;
  margin: 15px;
  border-radius: 5px;
}
.coursebox2 {
  width: 300px;
  height: 120px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 25px;
  display: inline-block;
  margin: 15px;
  border-radius: 5px;
}
.coursebox h3 {
  margin-bottom: 10px;
}
.coursebox2 h3 {
  margin-bottom: 10px;
}
footer {
  color: white;
  text-align: center;
  background-color: #1b1c3a;
  padding: 30px 10px;
}
footer a {
  color: #ffd700;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
}
#fpara1 {
  margin-bottom: 10px;
}
