* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  height: 100%;
}
header {
  background-color: #344248;
  width: 100%;
  height: 130px;
}
h1 {
  text-align: center;
  color: white;
  padding-top: 20px;
}
nav {
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 24px;
  padding: 30px 0 18px;
}
nav ul a {
  text-decoration: none;
  color: white;
  margin-right: 50px;
  padding: 6px 8px;
}
ul li {
  display: inline;
  text-align: center;
}
li {
  list-style-type: none;
  text-align: center;
}
.section1 {
  color: black;
  padding: 0px;
  margin: 0px;
  margin-top: 70px;
 
}
#h1 {
  margin-bottom: 0;
  margin-top: 3px;
  margin-left: 20px;
}
.para1 {
  background-color: rgba(211, 211, 211, 0.541);
  border: 1px solid lightgray;
  padding: 25px 20px;
  margin: 20px 20px;
  border-radius: 10px ;
  margin-top: 40px;
}
.section2 {
  padding: 20px;
  margin-top: 10px;
}
.boxes {
  display: flex;
  justify-content: center;
  gap: 850px;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.box1,
.box3 {
  width: 100px;
  height: 100px;
  color: white;
  background-color: #344248;
  text-align: center;
  padding-top: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.box2 {
  position: absolute;
  top: 130px;
  width: 100px;
  height: 100px;
  background-color: #de5757;
  color: white;
  justify-content: center;
  align-items: center;
  border: 5px;
  display: flex;
}
.para2 {
  background-color: rgba(211, 211, 211, 0.541);
  border: 1px solid lightgray;
  padding: 20px 20px;
  border-radius: 5px;
  font-family: "Courier New", monospace;
  font-weight: 900;
  color: #a73b34;
  text-shadow: 0 0 1px #a73c34;
  font-size: 1.5rem;
  margin-top: 30px;
}
#h3 {
  margin-top: 40px;
}
a {
  color: #35a6de;
  margin-left: 30px;
}
.footer {
  background-color: #344248;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  margin-top: 40px;
  padding: 18px 0;
  font-size: 0.95rem;
}
